/*
* Globals
*/


body {
    font-family: Arial,Helvetica,sans-serif;
    color: #000000;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin-top: 0;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: normal;
    color: #000000;
}

a:hover{
    text-decoration: none;
}

/*
* Banner animation
*/
.wrapper{position: relative}
.blog-banner-main{padding: 12px 0 12px 0; padding-left: 18px}
.blog-banner-slide-bar{padding-left: 20px; margin-top: 15px; padding-right: 0; height: 310px; overflow: hidden}
.blog-banner-main .flipper{float: left; margin-left: 10px; margin-top: 10px}
.flipper .flipper-1 img{
    position:absolute;
    cursor:pointer;
    width:145px;
    height:145px;
}
.header .logo img{
    width: 100%;
}
.header .banner{
    width: 650px;
    height: 90px;
    overflow: hidden;
}
.header .banner img{width: 100%}
.flipper .flipper-2 img{
    display:none;
    position:absolute;
    cursor:pointer;
}
.flipper{
    width:145px;
    height:145px;
    position: relative;
}

.blog-sidebar{
    padding-left: 20px;
    padding-right: 0;
    width: 320px;
}
.trigger{
    width: 300px;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
.ad{margin-top: 15px!important;}
.blog-main img{max-width: 100%}
.blog-banner-slide-bar .newest{
    padding: 0; margin: 0; margin-bottom: 15px;
    min-height: 300px;
}
.blog-banner-slide-bar .newest.active{

}
.blog-banner-slide-bar .newest li{
    list-style: none;
    margin-bottom: 5px;
    position: relative;
    width: 300px;
    height: 145px;
    overflow: hidden;
}
.blog-banner-slide-bar .newest li img{
    position: absolute;
    top: 0;
}
.blog-banner-slide-bar .newest li .opacity{
    background: #9199A9;
    bottom: 0;
    left: 0;
    padding: 10px;
    position: absolute;
    width: 100%;
    height: 45px;
    opacity: 0.8;
    color: #ffffff;
    font: bold 14px Arial,Helvetica,sans-serif;
    line-height: 30px;
}
.blog-main{
    padding-left: 0;
    padding-right: 0;
    padding-top: 20px;
    border-top: 2px solid #FDB813;
}
.header .container{padding: 10px 0 10px 0}
.header .container div{float: left}
.header .logo{
    margin: 0 24px;
    width: 260px;
    height: 90px;
    overflow: hidden;
    display: table;
}
.header .logo a{
    display: table-cell;
    vertical-align: middle;
}
/*
* Desktop version
*/
@media (min-width: 960px) {
    .container {
        width: 960px;
    }
}

/*
* Mobile version
*/
@media (min-width: 320px) and (max-width: 768px){

}

/*
* Tablet version
*/
@media (min-width: 768px) and (max-width: 960px){

}


/*
* Masthead for nav
*/

.nav-top {
    background-color: #7d7d7d;
    position: relative;
}
.nav-top .container{
    position: relative;
    padding-right: 0;
    padding-left: 0;
}

/* Nav links */
.blog-nav{
    max-width: 880px;
    height: 40px;
    overflow: hidden;
    float: left;
}
.search{
    margin-left: 5px;
    float: right;
    padding: 6px 0;

}
.search img{margin-right: -5px}
.search-form{
    background: none repeat scroll 0 0 #7D7D7D;
    padding: 1em 1.35em;
    position: absolute;
    right: 0;
    top: 40px;
    display: none;
    z-index: 1000;
    height: 60px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .search-form{
        right: 1px;
    }
}
.search-form input{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    color: #CCCCCC;
    height: 30px;
    margin: 0 0 5px;
    padding: 2px 5px !important;
    width: 262px;
}

.blog-nav-item {
    position: relative;
    display: inline-block;
    padding: 10px 16px 10px 10px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background: url("../img/slash.png")no-repeat right;
    background-size: 2px 16px;
}
.blog-nav .blog-nav-item:last-child{
    background: none;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
    color: #000000;
    text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
    color: #000000;
}


/*
* Blog name and description
*/



/*
* Main column and sidebar layout
*/

.blog-main {
    font-size: 18px;
    line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
    padding: 0 15px;
    margin: 0 -15px 5px;
    clear: both;
}
.sidebar-module h4{
    background: url("../img/righ-core.png") no-repeat right #7D7D7D;
    padding: 10px;
    color: #ffffff;
    font: bold 16px Arial,Helvetica,sans-serif;
}
.sidebar-module h4 a{
    color: #ffffff;
    font: bold 16px Arial,Helvetica,sans-serif;
}
.sidebar-module h4 a:hover{
    color: #000000;
}
.sidebar-module.ad{margin-bottom: 15px}
.sidebar-module .sidebar-half{
    float: left;
    max-width: 145px;
    margin-bottom: 10px;
    overflow: hidden;
    max-height: 185px;
}
.sidebar-module .sidebar-half .sidebar-img{
    max-width: 145px;
}
.sidebar-module .sidebar-half .sidebar-img img{
    width: 100%;
}
.sidebar-module .sidebar-half:nth-child(odd){
    margin-left: 10px;
}
.sidebar-module .sidebar-half a{
    color: #595251;
    font: 13px Arial,Helvetica,sans-serif;
}
.sidebar-module .sidebar-half a:hover{
    color: #000000;
    text-decoration: none;
}
.sidebar-module .sidebar-full{
    max-width: 300px;
    overflow: hidden;
    float: left;
    margin-bottom: 10px;
}
.sidebar-module .sidebar-full div{
    float: left;
}
.sidebar-module .sidebar-full .sidebar-img{
    max-width: 180px;
}
.sidebar-module .sidebar-full .sidebar-img img{
    width: 100%;
}
.sidebar-module .sidebar-full .sidebar-description{
    max-width: 115px;
    padding-left: 5px;
    text-align: justify;
}
.sidebar-module .sidebar-full .sidebar-description a{
    color: #595251;
    font: 14px Arial,Helvetica,sans-serif;
}
.sidebar-module .sidebar-full .sidebar-description a:hover{
    color: #000000;
}
.sidebar-module .sidebar-full .sidebar-description .sidebar-date-time{
    text-align: right;
    color: #595251;
    font: italic 12px Arial,Helvetica,sans-serif;
}
.sidebar-module .sidebar-best{padding: 0; margin: 0}
.sidebar-module .sidebar-best li{
    height: 45px;
    line-height: 43px;
    list-style: none outside none;
    overflow: hidden;
    padding: 0 10px 10px;
    background: url("../img/dot.png") repeat-x bottom
}
.sidebar-module .sidebar-best li:last-child{
    background: none;
}
.sidebar-module .sidebar-best a{color: #484747}
.sidebar-module .sidebar-best a:hover{color: #000000}
.view-best{width: 330px}
/*
* Blog posts
*/

.blog-post {
    border-bottom: 1px solid #EBEBEB;
    padding-left: 32px;
    background: url("../img/flat.png") no-repeat left top;
    margin-bottom: 15px;
}
.blog-post.last {
    margin-bottom: 10px;
}
.blog-post-title {
    margin-bottom: 5px;
    text-transform: uppercase;
    font: bold 18px Arial,Helvetica,sans-serif;
}
.blog-post-title a{color: #000000}
.blog-post-meta {
    color: #000000;
    font: 14px Arial,Helvetica,sans-serif;
}
.blog-post-tool{font: 14px Arial,Helvetica,sans-serif; position: relative}
.blog-post-tool .like-face, .blog-post-tool .printer{float: left}
.blog-post-tool .printer{margin-left: 10px; position: relative}
.blog-post-tool .printer a{position: absolute; top: -3px;}
.blog-post-tool .tags{margin: 15px 0}
.blog-post-tool .tags a{color: #000000; padding: 0 5px 2px; margin: 0 5px; border-radius: 5px; background: #d7d7d7}
.blog-post-image{text-align: center}
.blog-post-image img{max-width: 90%}
.blog-post-description{text-align: left; padding: 10px 0 15px; font: 14px Arial,Helvetica,sans-serif; position: relative}
.blog-post.article{border: none; margin: 0}
.blog-post-view-more{text-align: right; padding: 0 10px; position: absolute; bottom: 0; right: 10px}
.blog-post-view-more a{color: #ee2926; font: italic 14px Arial,Helvetica,sans-serif}

.pagination-custom{margin: 0 0 10px 30px; float: right;}
.pagination-custom > li:first-child > a, .pagination-custom > li:first-child > span, .pagination-custom > li:last-child > a, .pagination-custom > li:last-child > span{border-radius: 0}
.pagination-custom > li > a, .pagination-custom > li > span{
    color: #000000;
    padding: 5px 10px;
    margin-right: 8px;
    font-size: 12px;
    border: 1px solid #dadada;
}
.pagination-custom > .active > a, .pagination-custom > .active > span, .pagination-custom > .active > a:hover, .pagination-custom > .active > span:hover, .pagination-custom > .active > a:focus, .pagination-custom > .active > span:focus{
    background: #ebebeb;
    border: 1px solid #dadada;
    color: #817e7e;
}

.pagination-custom > li > a:hover{
    color: #817e7e;
}
.pagination-custom li.last a{
    margin: 0;
}
.related-post{ margin-left: 32px; margin-bottom: 10px}
.related-post ul{margin: 0; padding: 0;max-width: 300px;}
.related-post h4{font: bold 16px Arial,Helvetica,sans-serif; margin-bottom: 0; text-transform: uppercase}
.related-post li:first-child{padding-top: 0}
.related-post li{
    height: 45px;
    line-height: 43px;
    list-style: none outside none;
    overflow: hidden;
    padding: 0 10px 10px 0;
    background: url("../img/dot.png") repeat-x bottom;
}
.related-post li:last-child{
    background: none;
}
.related-post li a{
    color: #484747;
    font: 14px Arial,Helvetica,sans-serif;
}
.related-post li a:hover{color: #000000}
/*
* Footer
*/

.footer {
    color: #999;
    background-color: #d7d7d7;
    border-top: 1px solid #e5e5e5;
}
.nav-bot{background: #464646; border-bottom: 2px solid #fdb813}
.nav-bot .container{padding: 0}
.nav-bot .blog-nav-item{font-weight: normal; font: 14px Arial; background: url("../img/slash-black.png") no-repeat scroll right center}
.nav-main-bot{text-align: left; margin: 20px 117px}
.nav-main-bot ul{float: left; margin: 0}
.nav-main-bot ul li{list-style: none; margin-bottom: 5px}
.nav-main-bot ul li a{color: #636363; font: 14px Arial,Helvetica,sans-serif}
.nav-main-bot ul li a:hover{color: #000000}
.footer .info{
    padding: 10px 0;
    border-top: 1px solid #ebebeb;
    color: #595251;
    font: 12px Arial,Helvetica,sans-serif
}
.footer .home-footer{
    background: url("../img/logo-footer.png") no-repeat -14px -2px;
    padding: 10px 80px;
}
.footer .info p{margin: 0}
.scroll-top{
    position: fixed;
    right: 40px;
    bottom: 100px;
    cursor: pointer;
    display: none;
}
.list-new{
    position: absolute;
    top: 0;
}
.cms{
    border-bottom: none;
    background: none;
}
.clear {clear: both; display: block; height: 0; overflow: hidden; visibility: hidden; width: 0;}

.view-best h4{margin: 0}

.left-nav-bg{background: url("../img/left-core.png") no-repeat; padding: 10px 28px; position: absolute; left: 0; top: 0}
.right-nav-bg{background: url("../img/righ-core.png") no-repeat; padding: 10px 29px; position: absolute; right: 0; top: 0}
.blog-main.article{border: none}
.sidebar-title{max-height: 80px; overflow: hidden}
/*
* fix css
*/
@media (max-width: 1090px){
    .left-nav-bg, .right-nav-bg{display: none}
}