{% extends "CMSMainBundle::layout.html.twig" %}
{% block title %}{{ cms.title|stripslashes }}{% endblock %}
{% block content %}
    <div class="row">

        <div class="col-sm-8 blog-main article">
            {% if cms %}
                <div class="blog-post cms">
                    <div class="blog-post-description">
                        {{ cms.description|stripslashes|raw('html') }}
                    </div>
                </div>
            {% else %}
                <div class="alert">
                    <span>Dữ liệu đang được cập nhật</span>
                </div><!-- /.blog-post -->
            {% endif %}
        </div><!-- /.blog-main -->
        {{ render(controller("CMSMainBundle:Default:rightSlideBar", {'slug': app.request.pathInfo, 'listSpecial': false, 'likeBox': false}))}}
    </div><!-- /.row -->

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var IdPage = '#page-{{ cms.id }}';
        $(IdPage).addClass('active');
    </script>
{% endblock %}